body {
    background-color: rgb(234, 238, 240);
}

.container1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bulb {
    font-weight: bold;
}
p {
    font-style: italic;
}
