* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.logo {
    margin:0;
    font-weight: bolder;
}
.logo:hover {
    text-shadow: 2px 2px 2px rgba(214, 42, 42, 0.2);
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin-left: 10px;
    
}
li  {
    top: 0;
    float: left;    
}
li a {
    text-decoration: none;
    color: #000000;
    padding: 15px;
    text-align: center;
}
li a:hover {
    color: orangered;
    text-decoration: underline;
}
.mayur {
    width: 50%;
    margin: 10px;
    padding: 10px;
}
.social {
    margin:2px 9px;
    padding: 12px;

}
.image {
    width: 20%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
    z-index: 0;
    position: relative;
    overflow:visible;
}

